
img{
    
    border-radius: 50%;
    filter: drop-shadow(0 0 10px grey);
    width: 250px;
    height: 250px;
    
}
.perfil{
    margin-top: 20px;
}

div{

    padding-top: 8px;
    text-align: center;
    margin:0 20px 0 5px;
   
   }
#desc{
    align-items: center;
    text-align: start;
    }

button{
    float: right;
}
h3{
    margin-top: 15px;
    margin-bottom: .5rem;
}